/* .recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 10px 10px 10px 10px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.90;
    align-items: center;
    width: 90%;
    height: auto;
    padding: 10px;
    color: black;
    font-weight: 600;
} */
/* .box{
    display: block;
    width: 80%;
    padding: 1rem;
    : center;
} */

.recipe{
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    margin: 20px 25% 20px 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    opacity: 0.90;
    align-items: center;
    min-width: 60%;
    padding: 10px;
    list-style: none;
}
.image{
    border-radius: 10%;
    width: 100px;
    height: 100px;
}


@media (max-width: 800px) { 
    .recipe{
        margin: 10px 5% 10px 5%;
    }
 }
